body
{
  font-family: Arial;
  font-size: 16px;
  color: #414141;
}

.container
{
  display: grid;
  grid-template: 100px 1fr 150px/ 200px 1fr;
  grid-gap: 10px;
  height: 100vh;
  grid-template-areas: "header header"
                       "contenido contenido"
                       "fotos fotos"
                       "footer footer"
}

.item
{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}

.header
{
  grid-area: header;
}

.contenido
{
  grid-area: contenido;
}

.fotos
{
  grid-area: fotos;
}

.footer
{
  grid-area: footer;
}
