body
{
  font-family: Arial;
  font-size: 16px;
  color: #414141;
}

.container
{
  display: grid;
  grid-template-columns: 25% 300px 25%;
  grid-template-rows: 300px 300px 300px 300px;
}

.item
{
  background: lightblue;
  padding: 10px;
  border: 1px solid red;
}
